:root {
    --color-p1: 	#004c4c;
    --color-p2: 	#006666;
    --color-p3: #008080;
    --color-p4: #66b2b2;
    --color-plight: #b2d8d8;
    --color-white: #fff;
}

body{
    margin: 0;
    background-color: var(--color-plight);
    color: var(--color-white);
    font-family: 'Roboto', sans-serif;
}

h2{
    font-size: 1.7rem;
    font-style: bolder;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';

    color: var(--color-p1);
}

@media only screen and (min-width: 60em) {
    section {
        float: left;
        width: 50%;
    }
}

/*Player*/
#player {
    /* padding-left: 1em; */
    padding-right: 1em;
    padding-top: 3rem;
}
#player img{
    width: 100%;
    
}
.controls {
    display: flex;
    justify-content: center;
}

.btn{
    padding: .5rem;
}

.progress-bar {
    width: 100%;
    padding: 3px;
    border-radius: 6rem;
    box-shadow: inset 0 1em 3em rgba(0, 0, 0, .2);
}

.progress-bar-fill {
    display: block;
    height: .5rem;
    background-color: var(--color-p3);
    border-radius: 6rem;
    width: 0%;
}
.timings{
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
}

.song-details{
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
}

#footer {
    position: fixed;
    padding: 1rem;
    margin-right: 3rem;
    bottom: 0;
    width: 100%; 
    height: 11rem;
    background-color: var(--color-p1);
}

audio{
    visibility: hidden;
}

.hidden {
    display: none;
}
/*Playlist*/
#playlist-area{
    padding-bottom: 5rem;
    margin-bottom: 8rem ;
}
.songs img {
    border-radius: 4px; 
    padding: 5px;
    width: 150px; 
}

.songs{
    border: 1px solid #ddd;
    border-radius: 4px; 
    padding: 5px;
    display: flex;
    justify-content:space-between ;
    background-color: var(--color-p2);
    color: var(--color-white);
    font-style: normal;
}

.songName{
    font-size: 1.5rem;
}

.active{
    background-color: var(--color-p1);
}
.songs:hover{
    box-shadow: 0 0 2px 1px var(--color-p3);
}
